.form {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type='text'] {
  height: 4rem;
  padding: 0 2rem;
  font-size: 2rem;
  border: 0.1rem solid #ccc;
  min-width: 80%;
}

.form button[type='submit'] {
  border: none;
  height: 4rem;
  width: 4rem;
  background: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
