.index {
  background: #fff;
  padding: 3rem;
  margin: 5rem auto;
  max-width: 50rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.index h1 {
  font-size: 2rem;
  text-align: center;
}

.form {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type='text'] {
  height: 4rem;
  padding: 0 2rem;
  font-size: 2rem;
  border: 0.1rem solid #ccc;
  min-width: 80%;
}

.form button[type='submit'] {
  border: none;
  height: 4rem;
  width: 4rem;
  background: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks {
  margin-top: 3rem;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: all 600ms;
}

.tasks li:hover {
  background: #51c5de;
}

.tasks li .edit {
  margin-right: 1.5rem;
  color: #51c5de;
}

.tasks li .delete {
  margin-right: 1.5rem;
  color: #f04c64;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
  color: #000;
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
  transition: all 600ms;
}

.tasks li span {
  display: flex;
  align-items: center;
}
